@font-face {
  font-family: "ArcadeClassic";
  font-style: normal;
  font-weight: normal;
  src: local("ArcadeClassic"),
    url("../../fonts/ArcadeClassic.woff") format("woff");
}

html {
  /* margin: 0; */
  height: 100%;
  color: white;
  font-family: "ArcadeClassic";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#375f64, #143039);
}
body {
  margin: 0px;
  padding: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  font-size: 24px;
  background: linear-gradient(gray 0%, white 100%);
  background-clip: "text";
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  font-size: 24px;
  font-family: "ArcadeClassic";
  background: white;
  margin: 0;
  background-clip: "text";
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
