@font-face {
  font-family: "ArcadeClassic";
  font-style: normal;
  font-weight: normal;
  src: local("ArcadeClassic"),
    url("../../fonts/ArcadeClassic.woff") format("woff");
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  overflow:hidden;
  height: 100%;
  color: white;
  font-family: "ArcadeClassic";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#375f64, #143039);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 54px;
  background: linear-gradient(#ff8a00 0%, #dc141b 100%);
  background-clip: "text";
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 24px;
  background: linear-gradient(#ff8a00 0%, #dc141b 100%);
  background-clip: "text";
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
